name: Wordle
on: [issues]
jobs:
  submit_guess:
    if: github.event.issue.state == 'open'
    runs-on: ubuntu-latest
    steps:
      - name: wordle
        if: github.event.issue.state == 'open'
        run: |
          
          sentence="${{ github.event.issue.title }}"
          words=($sentence)
          echo "words : ${words[@]}"
          
          curl_data="{\"guess\":\"${words[1]}\", \"GH_ACTION_TRUST\":\"${{ secrets.GH_ACTION_TRUST }}\", \"issuer\": \"${{ github.event.issue.user.login }}\", \"issuerId\": ${{ github.event.issue.user.id }}}"
          echo "running curl : curl -d '$curl_data' -H \"Content-Type: application/json\" -X POST http://o.charles-chrismann.fr/wordle/guess"
          curl -d "{\"guess\":\"${words[1]}\", \"GH_ACTION_TRUST\":\"${{ secrets.GH_ACTION_TRUST }}\", \"issuer\": \"${{ github.event.issue.user.login }}\", \"issuerId\": ${{ github.event.issue.user.id }}}" -H "Content-Type: application/json" -X POST http://o.charles-chrismann.fr/wordle/guess


      - name: Close GitHub issue
        if: github.event.issue.state == 'open'
        run: |
            gh issue close ${{ github.event.issue.html_url }} -r completed -c "See https://github.com/Charles-Chrismann#a-classic-wordle"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
